	<h3>Preffered Properties</h3>
		<div class="row">
		  <div class="col-sm-6">
		    <div class="thumbnail">
		      <img src="..." alt="...">
		      <div class="caption">
		        <h3>Luxury Downtown Apartment</h3>
		        <p>Beautiful Apartment with city views</p>
		        <p><a href="#" class="btn btn-primary" role="button">View Info</a> <a href="property_show"</p>
		      </div>
		    </div>
		  </div>
		</div>