 <!DOCTYPE html>

 <!-- Bootstrap core CSS -->
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../dist/css/user_show.css" rel="stylesheet">

<!-- Jumbotron -->
<div class="jumbotron">
  <h2>FAVORITE PROPERTIES</h2>
</div>

<p><a class="btn btn-primary" id="property-btn" href="/properties" role="button">Search Properties</a></p>

<div class="row">
  <% @properties.each do |property| %>
  <div class="col-lg-4">
    <h3><%= property.title %></h3>
    <p><%= property.address %></p>
    <p class="img"><%= image_tag(property.picture) %></p>
    <p><a class="btn btn-primary" href="/properties/<%=property.z_id%>" role="button">View details &raquo;</a></p>
  </div>
  <% end %>
</div>
</html>


