
<div class="jumbotron">

  <h1><%= @user.name %></h1>
  <p><a class="btn btn-primary btn-lg" href="/properties" role="button">Find Properties!</a></p>
</div>
<br>
    <% @properties.each do |property| %>
      <%= render :partial => 'properties', locals: {property: property} %>
    <%end%>
  </div>
<br>
