
<div class="jumbotron">
  <h1><%= @user.name %></h1>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Find Properties!</a></p>
</div>
<br>
	<div class="thumbnails">
		<% @properties.each do |property| %>
			<%= render :partial => 'properties', locals: {property: property} %>
		<%end%>
	</div>
<br>


