
<div class="jumbotron">
  <h1><%= @user.name %></h1>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Find Properties!</a></p>
</div>
<br>
	<div class="thumbnails">
		<% @properties.each do |property| %>
			<%= render :partial => 'properties', locals: {property: property} %>
		<%end%>
	</div>
<br>

<div class='delete'>
	<% if session[:user_id] == @user.id %>
		<%= link_to "Delete profile", @user, method: :delete, data: {confirm: "Are you sure?"}, id: 'delete_prof' %>
		
		<%= link_to "Edit my profile", edit_user_path, id: 'edit_prof' %>
	<% end %>
</div>
