<div class="google-map">
  <%= javascript_include_tag "google_map.js" %>
</div>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map-canvas"></div>
  <div class='properties-list'>
    <h5>Properties</h5>
      <ul>
      </ul>
  </div>
