<div class="google-map">
  <%= javascript_include_tag "google_map.js" %>
</div>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<a id='pac-search' class="btn btn-primary btn-md search-map" href="#" role="button">Magic</a>

<a class="btn btn-primary btn-md search-map" href="#" role="button">Search Properties</a>

<div id="map-canvas"></div>
  <div class='properties-list'>
      <ul class='properties-pics'>
      </ul>
  </div>
</div>
