  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <title>Places search box</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>


  <%= javascript_include_tag "google_map.js" %>

    </style>
  </head>
  <body>
    <div> .col-xs-12 .col-sm-6 .col-lg-8>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <div id="map-canvas"></div>
    </div>

  <div class='properties-list'.col-xs-12 .col-sm-6 .col-lg-4>
    <ul>
    <% @properties.each do |property|%>

      <div class="row">
    <div class="col-xs-6">
      <a href="/property/<%=property.id%>" class="thumbnail">
        <img src="http://unescovietnam.vn/vnf/images/stories/van_hoa/tin_van_hoa/Vietnam-46.jpg">
      </a>
    </div>
    <%=property.title%>
    <%=property.address%>
  </div>

    <% end %>
    </ul>
      </div>
    </div>
  </body>
</html>