<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">

       <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" id="calibeach-img"></div>
            <div class="carousel-caption">
                <h1 class="hoadini">HOADINI<h1>
                <h1>Traveling far, far away (or two towns over), but don't know where to stay?</h1>
            </div>
        </div>

        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" id="nycskyline-img"></div>
            <div class="carousel-caption">
                <h1>Desire to be near the MoMa, but also want to be close to some of NYC's best halal?</h1>
            </div>
        </div>

        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" id="grandcanyon-img"></div>
            <div class="carousel-caption">
                <h1>No need to stress, we'll do the magic in finding the perfect place for you.</h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

    <!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2>About Hoadini</h2>
            <p>Hoadini provides with an expert certified algorithm, suggestgions on where you should stay! Simply plug in your preferences, and desired address, and let us do the picking! Travel Enjoy</p>
        </div>
    </div>

<hr>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Our Dynamic Team</h3>
                    <h4 class="section-subheading text-muted">Experts In their designated fields</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="team-member">
                        <%= image_tag("kevin.jpg") %>
                        <h4>Kevin Alwell</h4>
                        <p class="text-muted">The Hulk of Positivity</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="team-member">
                        <%= image_tag("sam.jpg") %>
                        <h4>Sam Guergenenov</h4>
                        <p class="text-muted">API Extrordinaire</p>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="team-member">
                        <%= image_tag("hoa.jpg") %>
                        <h4>Hoa Nguyen</h4>
                        <p class="text-muted">The Man, the Myth, the Legend, Himself</p>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="team-member">
                        <%= image_tag("tracy.jpg") %>
                        <h4>Tracy Teague</h4>
                        <p class="text-muted">The Modest Stylist</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Hoadini founders launched their programming careers at DevBootCamp NYC, these individuals attribute their success to their knowledgable instructors, enthusiastic cohort mates, and passion for providing solutions.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Hoadini 2015</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>


<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>
