<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">

       <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" id="calibeach-img"></div>
            <div class="carousel-caption">
                <h1>Imagine a future where you can stay at a place that fits your every preference.<h1>
                <h1><em>Hoadini can pick that out for you.</em></h1>
            </div>
        </div>

        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" id="nycskyline-img"></div>
            <div class="carousel-caption">
                <h1>Imagine a future where you do not need to stress out on where to stay.</h1>
                <h1><em>Hoadini can help you get out of that bind.</em></h1>
            </div>
        </div>

        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" id="grandcanyon-img"></div>
            <div class="carousel-caption">
                <h1>Travel Effortlessly</h1>
                <h2><em>Well Find your Perfect Place</em></h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h3 class="section-heading">Our Dynamic Team</h3>
                    <h4 class="section-subheading text-muted">Experts In their designated fields</h4>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="team-member">
                        <%= image_tag("kevin.jpg") %>
                        <h3>Kevin Alwell</h3>
                        <p class="text-muted">The Hulk of Positivity</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="team-member">
                        <%= image_tag("sam.jpg") %>
                        <h3>Sam Guergenenov</h3>
                        <p class="text-muted">API Extraordinaire</p>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="team-member">
                        <%= image_tag("hoa.jpg") %>
                        <h3>Hoa Nguyen</h3>
                        <p class="text-muted">The Man, the Myth, the Legend</p>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="team-member">
                        <%= image_tag("tracy.jpg") %>

                        <h4>Tracy Teague</h4>
                        <p class="text-muted">The Modest Stylist</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Hoadini founders launched their programming careers at DevBootCamp NYC, these individuals attribute their success to their knowledgable instructors, enthusiastic cohort mates, and passion for providing solutions.</p>
                </div>
            </div>
        </div>
    </section>

<hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Hoadini 2015</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>


<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>
