
  <div class="container">
  <div class="row">
 <h5 class='rating-criteria'>
  <%= @user_pref.criterium.description.titleize %> </h5>
<h5 class='rating-criteria'><%= @user_pref.search %></h5>
<p class='rating-criteria'>Rating: <%= @user_pref.score %></p>


</div>
</div>