
<div class="newcrit">
  &nbsp
  <%= form_for @new_user_pref do |f| %>
    <h3> What features are most important to you?</h3>
      <% @criteria.each do |c| %>

      <input type="radio" name="criterium_id" value= <%= c.id %> > <%=c.description%>

       <br>
      <% end %>
      <p>Your score <input name="score"></p>
      <p>Search for <input name="search"></p>
      <p><%= f.submit value="Add your preference!" %></p>
    <% end %>
</div>




