<%= form_for @new_user_pref do |f| %>

  <fieldset>
    <legend> What features are most important to you? </legend>
    <div align="center"><br>
      <% @criteria.each do |c| %>

      <input type="radio" name="criterium_id" value= <%= c.id %> > <%=c.description%>

       <br>
      <% end %>
      Your score <input name="score">
      Search for <input name="search">
      <%= f.submit value="Add your preference!" %>
    </div>
  </fieldset>

<% end %>