.jumbotron{
	text-align: center;
}

.ui_avatar {
	width: 3.3em;
	height: 3.3em;
	margin: 0 auto;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.thumbnails{
	text-align: center;
	float: left;
}

/*nav bar*/

#nav-menu{
	text-align: center;
	width: auto;
  	font-family: Helvetica, Arial, sans-serif;
  	color: #ffffff;
}