html {
  background-color: white;
}

.team-caption{
  font-style: italic;
  text-shadow: none;
}

.top-nav li.header > a:hover {
  background: white;
  color: black !important;
}

.favorites-header {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.property-top-nav{
  height: 60px;
  margin: 0;
  line-height: 50px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

li .property-header{
  color: black;
}

.property-header{
  text-shadow: 0 0 5px white !important;
  color: #232838;
}

.top-nav {
  background: black;
  height: 60px;
  margin: 0;
  line-height: 50px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav a {
  color: white;
  font: Ubuntu 300;
}

.top-nav li:hover {
  background-color: black;
  font: Ubuntu 300;
}

.photo-carousel {
  margin-top: 0px;
  font-size: 0;
  overflow: auto;
  width: 100%;
  height: 182px;
}

.rating-criteria {
  text-align: center;
  width: 100;
}

.rating-criteria, li {
  color: #232838;
}

.description {
  text-align: left;
  border: 2px solid #A7BED3;
  padding: 20px;
  margin: 10px;
}

.renting-info {
  text-align: left;
  border: 2px solid #A7BED3;
  padding: 20px;
  height: 250px;
  margin-bottom: 10px;
}

.pricing-info {
  text-align: left;
  border: 2px solid #A7BED3;
  padding: 20px;
  height: 250px;
  margin-bottom: 10px;
}

.user-criteria-info {
  text-align: left;
  border: 2px solid #A7BED3;
  padding: 20px;
}

/*.navbar-right a {
  font-family: Ubuntu 300;
  font-weight: bolder;
  font-size: 15px;
  color: #232838 !important;
}*/

.carousel-caption h1 {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #232838;
  text-shadow: 0 1px 3px #232838;
  font-family: Ubuntu 500;
  font-weight: bold 700;
}

p {
  font-family: Ubuntu 300 !important;
  color: #232838 !important;
}

.property {
  width: 500px;
  height: auto;
  margin-left: 20%;
  margin-right: 20%;
  padding: 3px;
  display: table;
  margin: auto;
}

.user_fave_div {
  height: 100px !important;
  width: 140px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.user_fave_img{
  height: 100% !important;
  width: 100% !important;
  border-radius: 20px;
  border: 5px solid #232838;
}

.ui_avatar {
  width: 3.3em;
  height: 3.3em;
  margin: 0 auto;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.thumbnails{
  text-align: center;
  float: left;
}

.team-member img {
  border-radius: 50%;
  border: 5px solid #A7BED3;
}

.team-member p {
  color: #8DA1B9;
}

#map-canvas {
  visibility: visible !important;
  position: absolute !important;
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.controls{
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/*Search bar*/
#pac-input{
  background-color: #fff;
  font-family: Ubuntu 300;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 50px;
  padding: 0px 11px 0px 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Ubuntu 300;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Ubuntu 300;
  font-size: 13px;
  font-weight: 300;
}

.properties-list {
  visibility: visible !important;
  position: relative;
  text-align: center;
  height: 90%;
  margin-top: 50px;
  float: right;
  overflow: scroll;
  background: transparent;
}

.properties-list .properties-pic {
  width: 120px;
  height: 120px;
  height: auto;
  float: left;
  margin: 3px;
  padding: 3px;
}

.properties-list img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #232838;
  margin: 0 auto;
}
.prop-item{
  height: 200px !important;
  width: 200px !important;
}
.prop-img{
  height: 100% !important;
  width: 100% !important;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}
/*the color of the box shadow needs to be adjusted to fit overall design scheme
*/
.highlighted {
  -moz-box-shadow:    4px 4px 6px 7px #00CED1;
  -webkit-box-shadow: 4px 4px 6px 7px #00CED1;
  box-shadow:         4px 4px 6px 7px #00CED1;
}